includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
parameters:
    level: 6
    paths:
        - src/
        - app/src/
    tmpDir: .phpstan-cache
    ignoreErrors:
        - message: '#Symfony\\Bundle\\SecurityBundle\\Security#'
          path: src/Expression/SecurityExpressionValueProvider.php
          reportUnmatched: false